
body {
  background-color: #44464a;
}

.month {
  font-size: 2.75em;
  border-width: 5px;
  border-color: #44464a;
  border-style: solid;
  border-radius: 15px;
  background-color: #1A73E8;
  padding-left: 15px;
  padding-bottom: 5px;
  user-select: none;
  color: #e8e8e8;
}

.reminder {
  font-size: 2.25em;
  color: #e8e8e8;
  padding-left: 100px;
  user-select: none;
}

input.remindercheckbox {
  position: relative;
  bottom: 8px;
  left: 15px;
  transform: scale(2.25);
}

.form-months {
  color: #e8e8e8;
}

.form-name-input {
  color: #e8e8e8;
}

.form-day-input {
  width: 10px;
  color: #e8e8e8;
}

.reminderform {
  position: fixed;
  border-width: 5px;
  border-style: solid;
  border-color: #e8e8e8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  background-color: #44464a;
  z-index: 2137;
}

.topbar {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
  border-color: #E8E8E8;
  background-color: #E8E8E8;
  border-width: 5px;
  border-style: solid;
}

.toggle-form-button {
  margin-left: 5px;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #E8E8E8;
  border-style: solid;
  border-color: #1A73E8;
  border-radius: 5px;
  background-color: #1A73E8;
  font-size: 1em;
}

.delete-reminder-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #E8E8E8;
  border-style: solid;
  border-color: #F86C55;
  border-radius: 5px;
  background-color: #F86C55;
  font-size: 1em;
  float: right;
}


.send-form-button {
  display: block;
  margin-left: auto;
  margin-bottom: 15px;
  margin-right: auto;
  text-align: center;
  color: #E8E8E8;
  border-style: solid;
  border-color: #E8E8E8;
  border-radius: 5px;
  background-color: #44464a;
}

@media (max-width: 1000px) {

  body {
    background-color: #44464a;
  }

  .month {
    font-size: 5em;
    border-width: 5px;
    border-color: #44464a;
    border-style: solid;
    border-radius: 15px;
    background-color: #1A73E8;
    padding-left: 15px;
    padding-bottom: 5px;
    user-select: none;
    color: #e8e8e8;
  }

  .reminder {
    font-size: 4em;
    color: #e8e8e8;
    padding-left: 100px;
    user-select: none;
  }

  input.remindercheckbox {
    position: relative;
    bottom: 15px;
    left: 20px;
    transform: scale(3.25);
  }

  .toggle-form-button {
    margin-left: 5px;
    margin-top: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    color: #E8E8E8;
    border-style: solid;
    border-color: #1A73E8;
    border-radius: 5px;
    background-color: #1A73E8;
    font-size: 2em;
  }

  .send-form-button {
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    text-align: center;
    color: #E8E8E8;
    border-style: solid;
    border-color: #E8E8E8;
    border-radius: 5px;
    background-color: #44464a;
  }

  .reminderform {
    position: fixed;
    border-width: 5px;
    border-style: solid;
    border-color: #e8e8e8;
    top: 50%;
    left: 50%;
    transform: scale(2.25);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    background-color: #44464a;
    z-index: 2137;
  }
  .delete-reminder-button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    color: #E8E8E8;
    border-style: solid;
    border-color: #F86C55;
    border-radius: 5px;
    background-color: #F86C55;
    font-size: 2em;    float: right;
    float: right
  }

}
