
body {
  background-color: #44464a;
}

.month {
  font-size: 2.75em;
  border-width: 5px;
  border-color: #44464a;
  border-style: solid;
  border-radius: 15px;
  background-color: #1A73E8;
  padding-left: 15px;
  padding-bottom: 5px;
  user-select: none;
  color: #e8e8e8;
}

.reminder {
  font-size: 2.25em;
  color: #e8e8e8;
  padding-left: 100px;
  user-select: none;
}

input.remindercheckbox {
  position: relative;
  bottom: 8px;
  left: 15px;
  transform: scale(2.25);
}

/* NOT ADDED TO MEDIA */

.form-months {
  color: #e8e8e8;
}

.form-name-input {
  color: #e8e8e8;
}

.form-day-input {
  color: #e8e8e8;
}

.reminderform {
  position: fixed;
}

@media (max-width: 1000px) {

  body {
    background-color: #44464a;
  }

  .month {
    font-size: 5em;
    border-width: 5px;
    border-color: #44464a;
    border-style: solid;
    border-radius: 15px;
    background-color: #1A73E8;
    padding-left: 15px;
    padding-bottom: 5px;
    user-select: none;
    color: #e8e8e8;
  }

  .reminder {
    font-size: 4em;
    color: #e8e8e8;
    padding-left: 100px;
    user-select: none;
  }

  input.remindercheckbox {
    position: relative;
    bottom: 15px;
    left: 20px;
    transform: scale(3.25);
  }

}
